<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zyd.shiro.persistence.mapper.ClubTrainingCoursesMapper">

    <resultMap id="rm" type="com.zyd.shiro.persistence.beans.ClubTrainingCourses">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="course_name" jdbcType="VARCHAR" column="course_name"/>
        <result property="course_description" jdbcType="VARCHAR" column="course_description"/>
        <result property="course_date" jdbcType="TIMESTAMP" column="course_date"/>
<!--        <result property="course_time" jdbcType="TIME" column="course_time"/>-->
        <result property="location" jdbcType="VARCHAR" column="location"/>
        <result property="instructor_name" jdbcType="VARCHAR" column="instructor_name"/>
        <result property="max_participants" jdbcType="INTEGER" column="max_participants"/>
        <result property="current_participants" jdbcType="INTEGER" column="current_participants"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>


    <select id="findPageBreakByCondition" parameterType="com.zyd.shiro.business.vo.ClubTrainingCoursesVO" resultMap="rm">
        SELECT
            c.*
        FROM
            club_training_courses c
        WHERE
            1 = 1
        ORDER by
            c.id ASC
    </select>
</mapper>

